@tailwind base;

@layer base {

    .doc-font {
        font-family: 'Inter', sans-serif;
    }

    html, body {
        @apply doc-font dark:bg-gradient-to-tl from-black to-slate-900 min-h-screen
    }
}

@tailwind components;

@layer components {

    .doc-content {
        @apply text-slate-600 antialiased
    }

    .doc-content h1 {
        @apply text-3xl antialiased mb-10 font-extrabold text-slate-800/90 dark:text-slate-300
    }

    .doc-content h2 {
        @apply mt-10 mb-4 text-2xl font-extrabold text-slate-600 antialiased dark:text-slate-300
    }

    .doc-content h3 {
         @apply text-xl font-medium antialiased text-black mt-10 dark:text-slate-300
     }

    .doc-content h4 {
         @apply text-lg font-normal antialiased text-black mt-10 dark:text-slate-300
     }

    .doc-content p {
        @apply my-5 leading-7 antialiased text-base dark:text-slate-400
    }

    .doc-content a, .side-nav a {
        @apply text-primary-500 hover:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:hover:underline
    }

    .doc-content code.inline {
        @apply border border-slate-200 dark:border-slate-700 bg-slate-100 dark:bg-slate-700 px-1 text-sm text-cyan-600 dark:text-cyan-400
    }

    .doc-content ul, .doc-content ol {
        @apply  list-outside mb-10 ml-4 marker:text-primary-300 dark:marker:text-primary-800
    }

    .doc-content li {
        @apply list-square leading-8 antialiased text-base pb-3 dark:text-slate-400
    }

    .doc-content pre[class*=language-] {
        @apply !bg-slate-700 dark:!bg-slate-800/90 my-7 rounded-lg text-sm leading-7 whitespace-pre
    }

    .doc-content table {
        @apply table-auto w-full border border-slate-200/50 dark:border-slate-800 my-10 border-collapse text-sm
    }

    .doc-content table>thead>tr>th {
        @apply text-slate-700 dark:text-slate-400 tracking-wide bg-slate-200/50 dark:bg-slate-800
    }

    .doc-content table>tbody>tr {
        @apply even:bg-gray-100/30 dark:even:bg-gray-900
    }

    .doc-content table>thead>tr>th, .doc-content table>tbody>tr>td {
        @apply p-3 border-r border-b border-slate-200/50 dark:border-slate-800 leading-7 dark:text-slate-400
    }

    .doc-content table>tbody>tr:hover>td {
        @apply bg-slate-100/50 dark:bg-transparent border-b border-slate-200 dark:border-slate-600
    }

    .doc-content table>thead>tr>th:empty {
        @apply bg-white dark:bg-slate-900 !p-0 !h-0 border-t border-none
    }

    .doc-content .notfound {
        @apply text-center
    }

    .doc-content .notfound img {
        @apply h-72 mx-auto my-16
    }

    .doc-content .notfound h1 {
        @apply text-6xl font-normal text-slate-600 my-6
    }

    .doc-content .notfound h2 {
        @apply text-2xl font-extralight text-slate-500 leading-9
    }

    .doc-content .alert {
        background-position: 15px 20px;
        @apply py-4 pr-6 pl-[63px] bg-no-repeat bg-[length:40px_40px] leading-relaxed rounded-lg mt-8
    }

    .doc-content .alert.note {
        background-image: url(/assets/images/info.svg);
        @apply bg-sky-50 dark:bg-sky-700 dark:text-sky-200
    }

    .doc-content .alert.tip {
        background-image: url(/assets/images/tip.svg);
        @apply bg-amber-50 dark:bg-amber-700 dark:text-amber-100
    }

    .doc-content .alert.okay {
        background-image: url(/assets/images/check.svg);
        @apply bg-teal-50 dark:bg-teal-700 dark:text-teal-100
    }

    .doc-content .alert.stop {
        background-image: url(/assets/images/triangle.svg);
        @apply bg-rose-50 dark:bg-rose-800 dark:text-rose-100
    }

    nav li h1, nav li h2, nav li h3 {
        @apply text-sm font-semibold pt-2 text-slate-700 dark:text-slate-400/70 tracking-wider pb-3 cursor-pointer inline-block
    }

    :is(nav li):has(h1), :is(nav li):has(h2)  {
        @apply text-base text-primary-400 dark:text-primary-500/40 list-square
    }

    nav > ul {
        @apply m-2 list-inside
    }

    nav li ul {
        @apply mb-4 list-inside ml-4
    }

    nav li ul li a {
        @apply border-l border-slate-100 dark:border-slate-800/70 pl-3 block py-2 text-sm text-slate-600/80 dark:text-slate-400/80 hover:text-slate-900 dark:hover:text-slate-400 hover:border-l hover:border-slate-400 dark:hover:border-slate-700
    }

    nav a.selected {
        @apply border-l border-primary-800 dark:border-slate-600 text-primary-800/80 dark:text-primary-400 hover:text-primary-800/80 dark:hover:text-primary-400 hover:border-l hover:border-primary-800 dark:hover:border-slate-600 bg-primary-50/70 dark:bg-slate-800/70
    }

    nav ul li ul li h2 + ul {
        @apply ml-6
    }

    .side-nav li {
        @apply antialiased text-[.875rem] list-outside text-primary-300 marker:content-['\276F'] !pl-2 marker:text-xs py-1 leading-6
    }

    .side-nav ul {
        @apply list-outside list-none ml-4
    }

    .side-nav li ul {
        @apply pl-1
    }

    td.test {
        @apply text-red-500
    }

    td.production {
        @apply text-cyan-600
    }

}

@tailwind utilities;